{% extends 'base.html' %}
{% block title %}YKEA About{% endblock title %}
{% block main %}
<style type="text/css">
  #welcome-section {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-flow: column;
  }
  .welcome-header {
  text-align: center;
  }
</style>

<body>
  <div id="welcome-section">
    <h3 style="text-align: center">This website was developed for the "Agile Data Science" subject at the "Fundamentals of Data Science" Master
    at Universitat de Barcelona</h3>
    <h2 style="text-align: center"><a href="https://github.com/blaieet" target="_blank">GitHub of the author</a></h2>
  <div>
</body>
{% endblock main %}